Hello! I am bot for chatgpt<br>
I am using paid subscription<br>
GPT version is [{{ gpt_version }}]<br>
<u>Now I can answer voice messages!!!</u><br>
{% if in_docker %}
Run in docker
{% else %}
Run in dev mode
{% endif %}